---
import Collaborators from "../../components/teams/Collaborators.astro"
import TeamsCard from "../../teams/TeamsCard.astro"
---
<div class="flex flex-col items-center justify-center">
    <Collaborators/>
    <div>
        <h1 class="text-white text-4xl font-bold">Our Team</h1>
        <div>
            <TeamsCard />
        <div>
    </div>

</div>