---
import { Image } from "astro:assets";
import CollabImg from "../../../public/images/collaborators.svg";
---

<div class="flex flex-col items-center justify-center mt-28">
  <h1 class="text-6xl text-bold text-white">Collaborators</h1>
  <Image src={CollabImg} alt="collaborators" class="mt-20" />
</div>
