---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import Collaborators from "../../../public/images/collaborators.svg";
---

<div class="w-96 h-[450px] border border-3 border-[#0077CC] rounded-lg">
  <Image src={Collaborators} class="w-96 h-44" alt="collaborate" />
  <div class="px-7"></div>
  <div>
    <h1 class="text-2xl text-[#00101B] mt-6 font-bold">Members name</h1>
    <hr />
  </div>
  <div>
    <h1 class="text-[#00101B] opacity-60 text-sm">Skills</h1>
    <div class="gap-4">
      <div
        class="bg-[#0077CC] rounded-full py-1 px-3 text-white text-bold text-xs"
      >
        skillname
      </div>
    </div>
  </div>
  <h1 class="text-[#00101B] opacity-60 text-sm">Let's Connect</h1>
  <div class="flex flex-row items-center justify-evenly">
    <a href=""><Icon name="mdi:linkedin" /></a>
    <a href=""><Icon name="material-symbols:mail" /></a>
    <a href=""><Icon name="icon-park-solid:big-x" /></a>
  </div>
</div>
