---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import COPSLogo from "../assets/images/cops_logo.png";
import AboutUs from "../assets/images/AboutUs.jpg";
---

<Layout title="About ">
  <div class="flex flex-col text-xl gap-8">
    <div
      class="flex w-[100%] justify-center items-center text-white text-5xl font-bold"
    >
      About Us
    </div>
    <div class="text-white flex gap-4 flex-col font-mono px-8 md:px-32">
      <div class="flex flex-col md:flex-row gap-12">
        <div class="md:w-[50%] flex flex-col gap-8 justify-center">
          <div class="text-3xl font-semibold underline">
            About LFX Mentorship Project
          </div>
          <div>
            Welcome to the LFX Mentorship Project, a dynamic initiative born
            from our collective commitment to advancing excellence in the realm
            of Open Source. We, members of
            <div class="flex items-center justify-center">
              <Image class="h-[4rem] w-fit" src={COPSLogo} alt="" /> Club Of
              Programmers of IIT-BHU
            </div>
             proudly present this initiative as a testament to our dedication
            and passion for fostering growth and collaboration within the
            open-source community.
          </div>
        </div>

        <div class="flex justify-center items-center">
          <Image src={AboutUs} class="h-fit" alt="" />
        </div>
      </div>

      <div class="text-3xl font-semibold underline">Our Mission</div>
      <div>
        At the core of our mission is a dedication to nurturing collaboration
        and learning within the open-source software development community. We
        aim to create an inclusive platform that not only showcases the diverse
        landscape of LFX mentorship within Software Development Groups but also
        equips contributors with valuable insights for engaging with impactful
        projects.
      </div>
    </div>
  </div>
</Layout>
