---
interface Props {

id:number;
name: string;
description: string;
projectUrl: string;
programYear:number;

}
const { id, name, programYear,projectUrl,description } = Astro.props;

const maxLength = 150;

let truncatedDescription = description.substring(0, maxLength);

if (description.length > maxLength) {
  truncatedDescription += '...';
}
---


        <div class="card">
            <div class="cardtitle">
              <h1>{name}</h1>
            </div>
          
            <div class="cardcontainer">
            <div class="cardcontent">
              Fall {programYear}
             </div>
            </div>

             <div class="description">
              {truncatedDescription}
            </div>

             <div class="subheading">
              Required Skills
             </div>
            
             <div class="allskills">

             <div class="skills">
              Go
             </div>
             <div class="skills">
              Docker
             </div>
             <div class="skills">
              Volcano
             </div>
             <div class="skills">
               Kubernetes
              </div>
             </div>

             <div class="links">
              <a href={projectUrl} class="buttons"><button>Project Link</button></a>
    
             </div>
        </div>
      
      

        <style>
          @import "../css/card.css";
        </style>
        
      
