---
import Layout from "../layouts/Layout.astro";
import OrganizationCard from "../components/home/OrganizationCard.astro";
import FilterSidebar from "../components/FilterSidebar.astro";
import Modal from "../components/Modal.astro";

const API_BASE_URL = import.meta.env.API_BASE_URL;
const response = await fetch(`${API_BASE_URL}/orgs`);
const allOrganizations = await response.json();
---

<Layout title="LFX Mentorship">
  <div class="bg-dark-blue">
    <div class="relative">
      <h1 class="text-white text-center text-4xl font-semibold pb-8">
        Participating Organizations
      </h1>
    </div>
    <FilterSidebar />
    <Modal />
    <ul
      role="list"
      class="flex flex-wrap justify-center gap-[15px] ml-80px] mr-[80px] md-4"
    >
      {
        allOrganizations.map((org: Organization) => (
          <OrganizationCard {...org} />
        ))
      }
    </ul>
  </div>
</Layout>

<style></style>
