---
import Layout from "../layouts/Layout.astro";
import OrganizationCard from "../components/home/OrganizationCard.astro";
import type { Code } from "astro:components";

const API_BASE_URL = import.meta.env.API_BASE_URL;
const response = await fetch(`${API_BASE_URL}/orgs`);
const allOrganizations = await response.json();
---

<Layout title="LFX Mentorship">
  <div class="bg-dark-blue">
    <div class="relative">
      <h1 class="text-white text-center text-4xl font-semibold p-8">
        Participating Organizations
      </h1>
      <div class="codeBlock absolute"></div>
    </div>
    <ul
      role="list"
      class="flex flex-wrap justify-center gap-[15px] ml-80px] mr-[80px] md-4"
    >
      {
        allOrganizations.map((org: Organization) => (
          <OrganizationCard {...org} />
        ))
      }
    </ul>
  </div>
</Layout>

<style>
  .codeBlock {
    position: absolute;
    width: 300px;
    height: 300px;
    left: calc(50% - 230px / 2 - 78px);
    top: calc(50% - 257.05px / 2 - 47.47px);
    border-radius: 100%;
    background: linear-gradient(
      118.19deg,
      #02101a -3.62%,
      hsl(210, 94%, 21%) 55.44%,
      #0077cc 110.51%
    );
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
  }
</style>
