---
import Layout from '../layouts/Layout.astro';
import OrganizationCard from '../components/home/OrganizationCard.astro';
import Header from '../components/home/Header.astro';
import Hero from '../components/home/Hero.astro';
import Card from '../components/home/Card.astro';


export const title = 'LFX Mentorship Metrics';


---

<Layout title="LFX Mentorship Metrics">
	<main>
		<Header />
		<Hero />
		<Card />
	</main>

</Layout>
