---
import OrgPastprojects from "./org_pastprojects.astro";

---


<div class="component-container">
    {() => {
        const components = [];
        for (let i = 0; i < 72; i += 4) {
          components.push(
            <div class="component-row">
              <OrgPastprojects />
              <OrgPastprojects/>
              <OrgPastprojects/>
              <OrgPastprojects/>
            </div>
          );
        }
        return components;
      }}
  </div>

        <style>
          @import "../styles/card.css";
        </style>