---
import PastProjectsCard from "../components/PastProjectsCard.astro";

const orgID = "1"
const API_ENDPOINT = `http://localhost:8080/api/org/${orgID}/projects`
const projectsByOrg = await fetch(API_ENDPOINT)
                        .then((res) => res.json())
                        .then((data) => {return data})
                        .catch((err) => console.log(err))

interface Project {
	id: string;
    name: string;
    industry: string;
    description: string;
    skills: string[];
    website: string;
    repository: string;
    programYear: number;
    programTerm: string;
    projectURL: string;
}
---

<div class="flex project-card-control">
    {projectsByOrg["projects"].map((project: Project) => {
        return (
            <PastProjectsCard 
                projectName={project["name"]} 
                industryName="App dev (hardcode)" 
                skillsRequired={project["skills"]} 
                projectDescription={project["description"]} 
                websiteLink={project["website"]}
                repositoryLink={project["repository"]}
            />
        )
    })}
</div>

<style>
    .project-card-control {
        scale: 0.6;
    }
</style>