---
// Please mention any ideas for links as such ...
---

<footer class="bg-dark-blue mt-3 hover:shadow">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="https://lfx.linuxfoundation.org/tools/mentorship/" class="flex items-center" target="_blank">
                  <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">LFX Mentorship</span>
              </a>
          </div>
      </div>
      <hr class="my-6 sm:mx-auto border-gray-500 lg:my-8" />
      <div class="flex gap-2 items-end justify-between md:items-center md:justify-between">
          <span class="text-sm text-gray-500 text-center dark:text-gray-400">
            <a href="https://www.copsiitbhu.co.in/" class="hover:underline" target="_blank">COPS @IIT(BHU)-Varanasi</a>
          </span>
          <div class="flex mt-4 space-x-5 justify-center sm:mt-0">
              <a href="#" class="text-gray-500 hover:text-blue-600 duration-200">
                    <i class="fa-brands fa-facebook fa-lg"></i>
                    <span class="sr-only">Facebook page</span>
              </a>
              <a href="#" class="text-gray-500 hover:text-purple-900 duration-200">
                <i class="fa-brands fa-discord fa-lg"></i>
                  <span class="sr-only">Discord community</span>
              </a>
              <a href="#" class="text-gray-500 hover:text-sky-500 duration-200">
                <i class="fa-brands fa-twitter fa-lg"></i>
                  <span class="sr-only">Twitter page</span>
              </a>
              <a href="#" class="text-gray-500 hover:text-white duration-200">
                <i class="fa-brands fa-github fa-lg"></i>
                  <span class="sr-only">GitHub account</span>
              </a>
          </div>
      </div>
    </div>
</footer>
