---
interface Props {
  title: string;
}
const { title } = Astro.props;

const navitems = [
{
		path: '/',
		label: 'Home',
	},
  	{
		path: '/org',
		label: 'Organizations',
	},
  {
		path: '/projects',
		label: 'Projects',
	},
	{
		path: '/team',
		label: 'Team',
	},
];
---

<div
  class="grid grid-cols-1 md:grid-cols-2 justify-evenly items-center p-10 bg-dark-blue"
>
  <div>
    <div class="mb-6 md:mb-0">
      <span
        class="self-center text-5xl font-semibold whitespace-nowrap text-white"
        ><a
          href="https://lfx.linuxfoundation.org/tools/mentorship/"
          class="flex items-center text-center"
          target="_blank">LFX Mentorship</a
        ></span
      >
    </div>
  </div>
  <div class="relative">
    <div
      class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
    >
      <svg
        class="w-4 h-4 text-gray-500 dark:text-gray-400"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 20 20"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
      </svg>
    </div>
    <input
      type="search"
      id="default-search"
      class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Search Orgs..."
      required
    />
    <button
      type="submit"
      class="text-white absolute right-2.5 bottom-2.5 font-medium rounded-lg text-sm px-4 py-2 bg-highlight-blue hover:bg-dark-blue duration-200"
      >Search</button
    >
  </div>
</div>
<nav>
  {
    navitems.map((item) => {
      return <a href = {item.path}>{item.label}</a>;
    })
  }
</nav>

<style is:global>
  :root {
  --color-gray-100: rgb(16, 16, 16);
  --color-gray-200: #edf2f7;
  --color-gray-300: #e2e8f0;
  --color-gray-400: #cbd5e0;
  --color-gray-500: #a0aec0;
  --color-gray-600: #718096;
  --color-gray-700: #4a5568;
  --color-gray-800: #2d3748;
  --color-gray-900: #1a202c;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.45;
}

body {
  margin: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  line-height: 1.1;
  color: #fff;
}

.block {
  padding: 3rem max(5vw, calc((100% - 800px) / 2));
}

.big-link {
  background-color: var(--color-gray-900);
  border: 0;
  border-radius: 0.25rem;
  color: white;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0 0;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  transition: 150ms background-color linear;
}

.big-link:hover {
  background-color: var(--color-gray-800);
}

.big-link:is(:active, :focus) {
  outline: 2px solid var(--color-gray-900);
  outline-offset: 4px;
}

</style>

<style>
  header {
  align-items: baseline;
  background: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

a[rel='home'] {
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

nav {
  background-color: rgba(16, 16, 16);
  color: #fff;
  display: flex;
  gap: 1rem;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: inherit;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}

footer {
  font-size: 0.75rem;
  padding: 3rem 5% 2rem;
}

footer p {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

footer a {
  color: var(--color-gray-600);
  display: block;
}

@media (min-width: 400px) {
  header {
    flex-direction: row;
  }
}

</style>

