<link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">

<div class="flex flex-col lg:flex-row justify-between items-center px-10 py-5 mb-10 border-solid border-b-2 border-highlight-blue hover:shadow-highlight-blue hover:shadow-lg duration-200">

  <div class="px-10 py-5">
    <div>
      <span class="self-center text-5xl font-semibold whitespace-nowrap text-white">
        <a href="https://lfx.linuxfoundation.org/tools/mentorship/" class="line-1 anim-typewriter font-orbitron flex items-center text-center hover:text-highlight-blue duration-200" title="LFX website" target="_blank">
          LFX Mentorship
        </a>
      </span>
    </div>
  </div>

  <div class="text-2xl text-white mb-5 sm:mb-0 px-10 py-2 h-36 sm:h-20 sm:py-8">
    <ul class="link-ul flex flex-col sm:flex-row sm:justify-between items-center gap-2 sm:gap-20 lg:gap-8 xl:gap-16">
      <li>
        <a href="/" class="anim-slow-opacity font-rajdhani hover:text-dark-blue duration-200 hover:text-3xl">Home</a>
      </li>
      <li>
        <a href="https://google.com/" class="anim-slow-opacity slow-opacity-delay-1 font-rajdhani hover:text-dark-blue duration-200 hover:text-3xl">Organizations</a>
      </li>
      <li>
        <a href="https://google.com/" class="anim-slow-opacity slow-opacity-delay-2 font-rajdhani hover:text-dark-blue duration-200 hover:text-3xl">Projects</a>
      </li>
      <li>
        <a href="https://google.com/" class="anim-slow-opacity slow-opacity-delay-3 font-rajdhani hover:text-dark-blue duration-200 hover:text-3xl">Team</a>
      </li>
    </ul>
  </div>

</div>

<style>
  /* Typewriter */
  .line-1{
    border-right: 10px solid #0077CC;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }
  .anim-typewriter{
    animation: typewriter 1s steps(14) 1s 1 normal both,
              blinkTextCursor 600ms steps(14) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 9.1em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: #0077cce7;}
    to{border-right-color: transparent;}
  }

  /* Link hover */
  .link-ul li {
    position: relative;
    cursor: pointer;
    transition: 0.5s;
  }

  .link-ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9cd6ff;
    z-index: -1;
    transform: scaleY(0);
    transition: transform 0.5s;
    transform-origin: bottom;
    border-radius: 0 0 10px 10px;
  }

  .link-ul li:hover:before {
    transform: scaleY(1);
    transition: transform 0.5s;
    transform-origin: top;
  }

  .link-ul li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5fb7ff;
    z-index: -2;
    transform: scaleY(0);
    transition: transform 0.5s;
    transform-origin: bottom;
    filter: blur(40px);
  }

  .link-ul li:hover:after {
    transform: scaleY(1);
    transition: transform 0.5s;
    transform-origin: top;
  }

  .anim-slow-opacity {
    animation-name: slow-opacity;
    animation-duration: 0.8s;
    animation-timing-function:cubic-bezier(0.95, 0.05, 0.795, 0.035);
  }

  .slow-opacity-delay-1 {
    animation-duration: 1.6s;
  }

  .slow-opacity-delay-2 {
    animation-duration: 2.4s;
  }

  .slow-opacity-delay-3 {
    animation-duration: 3.2s;
  }

  @keyframes slow-opacity {
    from{opacity: 0%;}
    to{opacity: 100%;}
  }

</style>