---
interface Props {
  skillName: string;
  frequency: string;
}

const { skillName, frequency } = Astro.props;
---

<li class="w-full border-b rounded-t-lg border-gray-600">
  <div class="flex items-center pl-3 b bg-gray-700">
    <input
      id="skill-checkbox"
      type="checkbox"
      value=""
      class="w-4 h-4 text-blue-600 rounded focus:ring-blue-600 ring-offset-gray-700 focus:ring-offset-gray-700 focus:ring-2 bg-gray-600 border-gray-500"
    />
    <label
      for="skill-checkbox"
      class="w-full py-3 ml-2 text-sm font-medium text-gray-300"
      ><span>{skillName}</span>
      <span
        class="inline-flex items-center justify-center px-2 ml-3 text-sm font-medium rounded-full bg-gray-400 text-white"
        >{frequency}</span
      >
    </label>
  </div>
</li>
